body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Mulish"
    sans-serif,"Pacifico",'Inter','Quintessential','Shadows Into Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1B1B;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.grid_center{
  justify-content: center;
  align-items: center;
}

.bord{
  color:red
}

.link_decor{
  text-decoration: none;
}

.nav_bar_items{
  position: relative;
}

.active{
  position: relative;
}
.active::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #FFDB7F;
  bottom: -5px;
  position: absolute;
}

.nav_bar_items::after{
  content: "";
  height: 1px;
  width: 0;
  background: #FFDB7F;
  position: absolute;
  transition: 0.5s;
  bottom: -5px;
}

.nav_bar_items:hover::after{
  width: 100%
}


.kovka_items:hover{
  color:#FFDB7F;
  transition: 1s
}

.kovka_items{
  position: relative;

}

.kovka_items::after{
  content: "";
  height: 1px;
  width: 0;
  background: #FFDB7F;
  position: absolute;
  left:0;
  bottom: -5px;
  transition: 1s;
}

.kovka_items:hover::after{
  width: 100%
}

.watch-more:hover{
  color:#FFDB7F
}

.watch-more{
  font-weight: 700;
  text-decoration-line:underline ;
}

.text_field{
  color:white
}

.clickable{
  cursor: pointer;
}

.pulse{
  animation: pulse 1s infinite;
  transition:all 1s ease 0s;
}

@keyframes pulse {
  0%{
    transform: scale(0.9);
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0.9);
  }
}

.circle{
  animation:circle 1s infinite;
}


@keyframes circle{
  70%{
    box-shadow: rgba(255,219,127,0.1) 0 0 0 20px;
  }
  100%{
    box-shadow: rgba(255,219,127,0) 0 0 0 0;
  }
}

